.irtc-block__wrapper{
    display: flex;
    gap: 40px;
    justify-content: stretch;
    align-items: stretch;
}
.irtc-block__left-side{
    width: 35%;
}
.irtc-block__img{
    width: 100%;
    object-fit: contain;
}
.irtc-block__right-side{
    width: 65%;    
}
.irtc-block__columns{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    height: 100%;
}
.irtc-block__column {
    width: calc(50% - 20px);
    font-size: 24px;
    line-height: 1.4;
}
.irtc-block__btn {
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 7px;
    background: #9FE25E;
    color: #000;
    width: 100%;
    border-color: #9FE25E;
}
@media screen and (max-width:1200px){
    .irtc-block__column {
        font-size: 20px;
        line-height: 1.4;
    }  
}
@media screen and (max-width:992px){
    .irtc-block__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .irtc-block__left-side{
        width: 50%;
    }
    .irtc-block__right-side{
        width: 80%;
    }
}
@media screen and (max-width:768px){
    .irtc-block__left-side{
        width: 60%;
    }
    .irtc-block__right-side{
        width: 100%;
    }
    .irtc-block__columns {
        gap: 20px;
    }
    .irtc-block__column {
        width: 100%;
        text-align:center;
    }
    .irtc-block__column:last-child, .irtc-block__column:nth-last-child(2){
        padding-bottom: 0px;
    }
}
@media screen and (max-width:576px) {
    .irtc-block__left-side{
        width: 100%;
    }
    .irtc-block__columns{
        gap: 20px;
    }
}
@media screen and (max-width:420px) {
    .irtc-block__column {
        font-size: 18px;
        line-height: 1.4;
    }      
}