/* Row 3 with step slider css */

.row3-step-slider-block .swiper-wrapper .block_title {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 185px;
}

.row3-step-slider-block__slide-desc {
    text-align: center;
    width: 100%;
}

.row3-step-slider-block__slide-title {
    color: #000;
    text-align: center;
    font-size: 29px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px; /* 100% */
}
.row3-step-slider-block__step-text {
    width: fit-content;
    margin: 0 auto;
    padding: 4px 10px 2px 10px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.row3-step-slider-block__slide {
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    height: auto;
    width: 330px;
}

.row3-step-slider-block__slider-pagination {
    position: relative;
    margin: 45px auto 0;
}

.row3-step-slider-block__slider-pagination .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #000;
    opacity: 1;
    margin: 0 10px !important;
    width: 10px;
    height: 10px;
}

.row3-step-slider-block__slider-pagination .swiper-pagination-bullet-active {
    background-color: #000;
    border: 1px solid transparent;
}

@media screen and (max-width: 768px) {
.row3-step-slider-block__slide {
    padding: 22px 32px;
}}
